/* Navbar */
.navbar {
    margin-bottom: 0;
    background-color: #cc8ff8 !important;
    padding: 1rem 2rem;
}
.navbar a {
    color: #ffffff !important;
}
.navbar .bi {
    font-size: 18px;
    color: #ffffff;
}

   /* Showcase */
.showcase img {
    opacity: 3;
}
/* Backgrounds */
.bg-alaranjado {
    background-color: #d86f46;
    color: #f1dede;
    font-weight: bold;
}
.bg-roxo {
    background-color: #785194;
    color: #ffffff;
    font-weight: bold;
}
.bg-azul-claro {
    background-color: #5bf2f5;
    color: #d1d1d1;
    font-weight: bold;
} 